* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
/* common styles */
.orange-color {
  color: #ff5400;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  padding: 15px;
  width: 150px;
  border: 0;
}
/* body  */

/* header start */
header {
  max-width: 1440px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title-content {
  display: flex;
  align-items: center;
}
.nav-title-content img {
  width: 3rem;
  margin-top: 15px;
}
.nav-title-content h3 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  margin-left: 10px;
}
.A {
  font-size: 3rem;
}
nav ul {
  display: flex;
}
ul li {
  list-style: none;
  margin-right: 35px;
}
ul li a {
  text-decoration: none;
  font-weight: 400;
}
/* nav end */
/* banner start */
.banner {
  margin-top: 50px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  width: 100%;
  min-height: 600px;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  padding-top: 100px;
}
.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 24px 150px;
  margin-top: 40px;
}
.banner-form-container {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-form {
  padding: 15px;
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.banner-form input,
select {
  padding: 16px;
  border-radius: 10px;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
}
.banner-form .banner-btn {
  background: #ff5400;
  color: #fff;
  padding-left: 50px;
}
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.input-icons i {
  position: absolute;
}

.icon {
  padding: 15px;
  color: #fff;
}
/* banner end */
/* main start */
main {
  max-width: 1440px;
  margin: 50px;
}
/* popular start */
.popular {
  display: flex;
  gap: 50px;
}
.popular-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.popular ul li {
  list-style-type: disc;
  color: rgba(19, 19, 24, 0.7);
  padding-bottom: 20px;
}
.popular-description {
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 20px;
}
/* popular end */
/* destinationa start */
.destination {
}
.destination-title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 20px;
}
.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}
.destination-img-container img {
  width: 100%;
}
.img-1st-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 24px;
}
.img-2nd-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 24px;
}
.img-3rd-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 24px;
}
/* destination end */
.choose {
  margin: 50px;
}
.choose-title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.choose-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.card-container-1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  margin-bottom: 20px;
}
.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 50%;
  margin: 0 auto;
}
.card-img {
  padding: 30px;
}
.card-title {
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
}
.card-description {
  color: #5a5a5d;
  font-size: 16px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
}
/* choose section end */
/* newsltter section start */
.newsletter {
  display: flex;
  gap: 30px;
}
hr{
  margin: 5px 20px;
}
.newsletter-text {
  margin-left: 50px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-title {
  padding: 20px;
  font-size: 24px;
  font-weight: 800;
}
.newsletter-description {
  color: #5a5a5d;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}
.newsletter-form input{
  border-radius: 8px;
padding: 16px;
width: 100%;
border: 0;
margin-top: 10px;
margin-bottom: 10px;

}
.newsletter-img img{
  width: 100%;
}
/*newsletter section end  */
/* main end */
@media screen and (max-width: 600px) {
  header,
  main,
  .newsletter-text {
    margin: 0;
    width: 100%;
  }

  .nav-links {
    display: none;
  }
  .popular-title,
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    padding: 10px;
  }
  .banner-form-container {
    width: 85%;
    margin: 30px;
  }.newsletter,
  .img-1st-row,
  .img-2nd-row,
  .img-3rd-row,
  .popular,
  .card-container-1,
  .banner-form {
    flex-direction: column;
  }
  .banner-form input,
  select {
    width: 80%;
  }
  .banner-btn {
    margin-left: 50px;
  }
  .icon {
    padding-left: 90px;
  }
  .destination,
  .popular {
    margin: 40px;
  }
  .card-3 {
    width: 100%;
  }
  .newsletter{
    margin: 40px;
  }
}

@media screen and (min-width: 992px) {
}
