* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
/* common styles */
.orange-color {
  color: #ff5400;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  padding: 15px;
  width: 150px;
  border: 0;
}
/* body  */
body{  max-width: 1440px;
  padding: 20px;}

/* header start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title-content {
  display: flex;
  align-items: center;
}
.nav-title-content img {
  width: 3rem;
  margin-top: 15px;
}
.nav-title-content h3 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  margin-left: 10px;
}
.A {
  font-size: 3rem;
}
.nav-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-dropdown{
  visibility: hidden;
  padding-top: 20px;
}
nav ul {
  display: flex;
}
ul li {
  list-style: none;
  margin-right: 35px;
}
ul li a {
  text-decoration: none;
  font-weight: 400;
  color:black;
}
ul li a:hover{
  font-size: 1.2rem;
  background-color:white;
  transition: 0.6s;
  border-radius: 5px;
  padding: 5px;
}
/* nav end */
/* banner start */
.banner {
  margin-top: 50px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  width: 100%;
  min-height: 600px;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  padding-top: 100px;
}
.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 24px 150px;
  margin-top: 40px;
}

.banner-form {
  padding: 15px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4,170px);
  justify-content: center;
  gap: 24px;
  margin-left: 100px;
margin-right: 100px;
  border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
.banner-form input,
select {
  padding: 16px;
  border-radius: 10px;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  
}
.banner-form .banner-btn {
  background: #ff5400;
  color: #fff;
  padding-left: 50px;
}
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.input-icons i {
  position: absolute;
}

.icon {
  padding: 15px;
  color: #fff;
}
/* banner end */
/* main start */
main{
  padding: 30px;
}
/* popular start */
.popular {
  display: flex;
  gap: 50px;
}
.popular-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.popular ul li {
  list-style-type: disc;
  color: rgba(19, 19, 24, 0.7);
  padding-bottom: 20px;
}
.popular-description {
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 20px;
}

/* popular end */
/* destinationa start */
.destination {
}
.destination-title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 20px;
}
.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}
.destination-img-container img {
  width: 100%;
}
.img-1st-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 24px;
}
.img-2nd-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 24px;
}
.img-3rd-row {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 24px;
}
.destination-img:hover{
border: 1px solid rgb(77, 76, 74);
border-radius: 10px;
box-shadow: 1px 1px 5px rgb(124, 122, 121) ;
}
/* destination end */


/* choose start */
.choose {
  margin: 50px;
}
.choose-title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.choose-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.card-container-1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  margin-bottom: 20px;
}
.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 50%;
  margin: 0 auto;
}
.card-1:hover {
border: 1px solid black;
box-shadow: 1px 1px 4px rgb(133, 128, 128);
}
.card-2:hover {
  border: 1px solid black;
  box-shadow: 1px 1px 4px rgb(126, 120, 120);
  }
  .card-3:hover {
    border: 1px solid black;
    box-shadow: 1px 1px 4px rgb(131, 113, 113);
    }
.card-img {
  padding: 30px;
}
.card-title {
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
}
.card-description {
  color: #5a5a5d;
  font-size: 16px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
}
/* choose section end */
/* perfact start */
.perfact{
  display:flex;
  gap: 24px;
  padding-bottom: 50px;
}
.perfact-text{
  width: 50%;
}
.perfact-title{
font-size: 40px;
font-weight: 800;
padding-bottom: 20px;
}
.perfact-description{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
padding-bottom: 20px;
}
.perfact-text ul li{
  list-style-type: disc;
  margin: 20px;
}
.perfact-imgs{
  width: 50%;
  background-image: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url(./Images/Group\ 40089.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  border-radius: 16px;
  position: relative;
}
.perfact-img-text{
  color: #FFF;
  top: 150px;
  left: 150px;
  font-size: 24px;
  font-weight: 700;
position: absolute;
}
.perfact-img-00{
position: absolute;
bottom: 30px;
color: #FFF;
left:40px;
}
.pause{
  color: #FFF;
  position: absolute;
  bottom:30px;
  left: 18px;
}
.three-dot{
  position: absolute;
  color: #FFF;
  bottom: 30px;
  right: 40px;
}
.perfact-img-hr{
color: #FFF;
position: absolute;
bottom: 15px;
width:90%;
left: 5px;
}
/* perfact end */
/* newsltter section start */

.newsletter{
  display: flex;
  gap: 24px;
}
hr {
  margin: 5px 20px;
}
.newsletter-text {
  margin-left: 50px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 50%;
}
.newsletter-text:hover{
  box-shadow: 2px 2px 4px red;
}
.newsletter-title {
  padding: 20px;
  font-size: 24px;
  font-weight: 800;
}
.newsletter-description {
  color: #5a5a5d;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}
.newsletter-form input {
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.newsletter-img{
  display: inline;
  position: relative;
}
.newsletter-img img {
  width: 100%;

}
.save-70{
  border-radius: 16px;
  background: #FF5400;
  width: 300px;
  transform: rotate(-25.628deg);
  padding: 20px;
  position: absolute;
bottom: 80px;
  right: 25px;
}
.save-70 p{
  color: #FFF;
  text-align: center;
  font-size: 24px;

}
.save-70 h4{
  color: #FFF;
  font-size: 32px;
text-align: center;

}
/*newsletter section end  */
/* footer start */
footer {
  background: rgba(19, 19, 24, 0.05);
  border-radius: 10px;
}
.footer-heading {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 10px;
}
.footer-title{
  font-size: 2.5rem;
}
.footer-description {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
margin-top:20px ;
padding-bottom: 50px;
}
.footer-icon{display: flex;
justify-content: center;
margin-bottom: 20px;
}
/* footer end */
/* main end */
@media screen and (max-width: 600px) {

  body,main{
    padding: 10px;
  }
  
  
  header,
  main,
  .newsletter-text {
    margin: 0;
    width: 100%;
  }
  .nav-title-content{
    width: 70%;
  }
  .nav-title-content h3{
    font-size: 1.5rem;
  }
  .nav-links ul {
    display: none;
  }
  .nav-dropdown{visibility: visible;}
  .newsletter-img img {
    width: 100%;
  }
  .perfact-title,
  .popular-title,
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    padding: 10px;
  } .banner-form{
    margin-left: 0;

  }
  .banner-form {
    grid-template-columns: repeat(1, 1fr);
    width: 85%;
    margin: 30px;
    padding-bottom: 20px;
  }
 
.perfact,
  .img-1st-row,
  .img-2nd-row,
  .img-3rd-row,
  .popular,.newsletter,
  .card-container-1
 {
    flex-direction: column;
  }
  .banner-form input,
  select,button {
    width: 80%;
  }
  
  .icon {
    padding-left: 50px;
  }
  .newsletter,
  .perfact,
  .destination,
  .popular {
    padding: 20px;
  }
  .card-3 {
    width: 100%;
  }
  .perfact-text,.perfact-imgs{
    width: 100%;
  }
  .footer-title{
    font-size: 2rem;
  }
  .A {
    font-size: 2.8rem;
  }

}
